version: '3'

services:
  nginx-proxy:
    ports:
      - "80:80"
      - "443:443"

  nginx:
    environment:
      VIRTUAL_HOST: poc-ux.docker
      CERT_NAME: default

  phpmyadmin:
    environment:
      VIRTUAL_HOST: pma.poc-ux.docker
      CERT_NAME: default

  smtp:
    environment:
      VIRTUAL_HOST: mailcatcher.poc-ux.docker
      CERT_NAME: default

  selenium:
    ports:
      - 4444:4444
      - 5900:5900